/* The Iconic Icon Foundry SCSS */

/* --- SASS Constants --- */

/* --- colours --- */
// greyscale level: 0 >> very dark, 10 >> very light
$greyscaleLevel0: #070707;
$greyscaleLevel1: #202020;
$greyscaleLevel2: #3a3a3a;
$greyscaleLevel3: #535353;
$greyscaleLevel4: #6d6d6d;
$greyscaleLevel5: #868686;
$greyscaleLevel6: #9f9f9f;
$greyscaleLevel7: #b9b9b9;
$greyscaleLevel8: #d2d2d2;
$greyscaleLevel9: #ececec;
$greyscaleLevel10: #ffffff;

/* --- SASS mixins --- */

/* --- Transitions --- */
@mixin transition($attribute, $duration, $effect){
  -webkit-transition: $attribute $duration $effect;
  -moz-transition: $attribute $duration $effect;
  -o-transition: $attribute $duration $effect;
  transition: $attribute $duration $effect;
}

@mixin fadeIn() {
  opacity: 1;

  @include transition(opacity, 0.3s, ease-out);
}

@mixin fadeOut() {
  opacity: 0.4;

  @include transition(opacity, 0.5s, ease-out);
}

/* --- CSS animations --- */

/* --- Column generator --- */

@mixin columnWidthCalculator($columnSize) {
  $gutterSize: 16;
  $columnWidth: 45;
  width: (($columnSize)*($columnWidth) + (($columnSize)-1)*$gutterSize)/960 * 100%;
}

// 16 columns.
// Column size: 4.6875% (45/960);
// Gutter size: 1em (16px);
@mixin columnGenerator() {
  $columns: 16;

  @for $i from 1 through $columns {
    .col#{$i} {
      display: inline-block;
      float: left;

      @include columnWidthCalculator($i);

      @if $i < 16 {
        margin-right: (16/960) * 100%;
      }
    }
  }
}

@mixin aspectRatioHeightGenerator($width, $widthParts, $heightParts) {
  $height: ($width/$widthParts) * $heightParts;
  padding-bottom: unquote($height + '%');
}

/* --- Base tag styles --- */

/* --- HTML --- */
html {
  font-family: "Bodoni MT", Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;
  font-size: 100%;
  margin: auto;
}

/* --- Body --- */
body {
  width: 100%;
  min-width: 960px;
  margin: auto;
  background-color: $greyscaleLevel9;
}

/* --- Header tag --- */
header {
  width: 100%;
}

/* --- Headers --- */
h1, h2, h3, h4, h5, h6 {
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  font-weight: 700;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.17rem;
}

h4 {
  font-size: 1rem;
}

h5 {
  font-size: 0.83rem;
}

h6 {
  font-size: 0.75rem;
}

/* --- Anchor link --- */
a {
  color: $greyscaleLevel0;

  @include fadeIn();

  &:hover {
    @include fadeOut();
  }
}

/* --- list --- */
li {
  list-style-type: none;
}

/* --- Custom styles --- */

/* --- Columns --- */
@include columnGenerator();

// Prevent last column from overflowing to next line
.last {
  float: right;
  margin-right: 0;
}

/* --- Header content --- */

/* --- Brand container --- */
// This container holds the brand logo.
// Takes up four columns
.brandContainer {
  display: inline-block;
  @include columnWidthCalculator(4);
  @include aspectRatioHeightGenerator(23.75, 54, 25);
  background: transparent no-repeat center url("../img/logo/iconic_logo_long_reworked.svg");
  background-size: 100%;
  margin-left: (366/960) * 100%;
}

/* --- Sidebar menu elements --- */
// menuButton expands and collapse the sidebar menu upon toggled
.menuButton {
  display: inline-block;
  float: right;
  width: 4.6875%;
  @include aspectRatioHeightGenerator(4.6875, 1, 1);
  background: transparent url("../img/main_icons/hamburger.svg") no-repeat center;
  cursor: pointer;
  z-index: 2;
}

// state of menuButton after expanded, docked to the left
.dockLeft {
  position: relative;
  background: transparent url("../img/main_icons/cross.svg") no-repeat center;
  right: (3*45 + 2*16 + 1)/960 * 100%;
  @include transition(right, 0.3s, ease-out);
}

// initial state of menuButton, docked to the right
.dockRight {
  position: relative;
  right: 0;
  @include transition(right, 0.3s, ease-out);
}

// sideBarMenuContainer contains the actual sidebar menu items
.sidebarMenuContainer {
  display: inline-block;
  width: 17.39583%;
  float: right;
  background: $greyscaleLevel0;
}

.dockLeft2 {
  position: absolute;
  right: 0;
  @include transition(right, 0.3s, ease-out);
}

.dockRight2 {
  position: absolute;
  right: -17.39583%;
  @include transition(right, 0.3s, ease-out);
}

/* --- Body elements -- */
.contentContainer {
  width: (716-90)/960 *100%;
  border: 1px $greyscaleLevel8 solid;
  margin-left: (122/960) * 100%;
  padding: 1rem 2.8125rem 1rem 2.8125rem;
  background: $greyscaleLevel10;
}