/* The Iconic Icon Foundry SCSS */
/* --- SASS Constants --- */
/* --- Colours --- */
/* --- Font size --- */
/* --- SASS mixins --- */
/* --- Typography --- */
/* --- Transitions --- */
/* --- CSS animations --- */
/* --- Column generator --- */
/* --- Sidebar menu related items --- */
/* --- Base tag styles --- */
/* --- HTML --- */
html {
  font-family: Georgia, Times, "Times New Roman", serif;
  font-size: 100%;
  margin: auto; }

/* --- Body --- */
body {
  width: 100%;
  min-width: 960px;
  margin: auto;
  background-color: #ececec; }

/* --- Header tag --- */
header {
  position: relative;
  width: 100%;
  height: auto; }

/* --- Footer tag --- */
footer {
  position: relative;
  width: 71.25%;
  margin-left: 12.60417%;
  padding: 1.66667%;
  background: #b9b9b9;
  border: #b9b9b9 solid 1px; }

/* --- Headers --- */
h1, h2, h3, h4, h5, h6 {
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  font-weight: 700;
  margin-bottom: 1rem; }

h1 {
  font-size: 2rem; }

h2 {
  font-size: 1.5rem; }

h3 {
  font-size: 1.17rem; }

h4 {
  font-size: 1rem; }

h5 {
  font-size: 0.83rem; }

h6 {
  font-size: 0.75rem; }

p {
  line-height: 1.5rem;
  margin-bottom: 1rem; }
  p a {
    font-style: italic; }

strong {
  font-weight: 700; }

/* --- Anchor link --- */
a {
  color: #6d6d6d;
  text-decoration: none;
  opacity: 1;
  -webkit-transition: opacity 0.3s ease-out;
  -moz-transition: opacity 0.3s ease-out;
  -o-transition: opacity 0.3s ease-out;
  transition: opacity 0.3s ease-out; }
  a:hover {
    opacity: 0.4;
    -webkit-transition: opacity 0.5s ease-out;
    -moz-transition: opacity 0.5s ease-out;
    -o-transition: opacity 0.5s ease-out;
    transition: opacity 0.5s ease-out; }

/* --- List --- */
li {
  list-style-type: none; }

/* --- Button --- */
button {
  width: 11.04167%;
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  font-size: 1rem;
  color: white;
  background-color: #070707;
  box-shadow: none;
  border: none;
  padding: 0.5rem 0 0.5rem 0; }

/* --- Custom styles --- */
/* --- Columns --- */
.col1 {
  position: relative;
  float: left;
  display: inline-block;
  width: 4.6875%;
  margin-right: 1.66667%; }

.col2 {
  position: relative;
  float: left;
  display: inline-block;
  width: 11.04167%;
  margin-right: 1.66667%; }

.col3 {
  position: relative;
  float: left;
  display: inline-block;
  width: 17.39583%;
  margin-right: 1.66667%; }

.col4 {
  position: relative;
  float: left;
  display: inline-block;
  width: 23.75%;
  margin-right: 1.66667%; }

.col5 {
  position: relative;
  float: left;
  display: inline-block;
  width: 30.10417%;
  margin-right: 1.66667%; }

.col6 {
  position: relative;
  float: left;
  display: inline-block;
  width: 36.45833%;
  margin-right: 1.66667%; }

.col7 {
  position: relative;
  float: left;
  display: inline-block;
  width: 42.8125%;
  margin-right: 1.66667%; }

.col8 {
  position: relative;
  float: left;
  display: inline-block;
  width: 49.16667%;
  margin-right: 1.66667%; }

.col9 {
  position: relative;
  float: left;
  display: inline-block;
  width: 55.52083%;
  margin-right: 1.66667%; }

.col10 {
  position: relative;
  float: left;
  display: inline-block;
  width: 61.875%;
  margin-right: 1.66667%; }

.col11 {
  position: relative;
  float: left;
  display: inline-block;
  width: 68.22917%;
  margin-right: 1.66667%; }

.col12 {
  position: relative;
  float: left;
  display: inline-block;
  width: 74.58333%;
  margin-right: 1.66667%; }

.col13 {
  position: relative;
  float: left;
  display: inline-block;
  width: 80.9375%;
  margin-right: 1.66667%; }

.col14 {
  position: relative;
  float: left;
  display: inline-block;
  width: 87.29167%;
  margin-right: 1.66667%; }

.col15 {
  position: relative;
  float: left;
  display: inline-block;
  width: 93.64583%;
  margin-right: 1.66667%; }

.col16 {
  position: relative;
  float: left;
  display: inline-block;
  width: 100%; }

.last {
  float: right;
  margin-right: 0 !important; }

/* --- Header content --- */
/* --- Header tag --- */
.hideOverflow {
  overflow: hidden; }

.showOverflow {
  overflow: visible; }

/* --- Brand container --- */
.brandContainer {
  display: inline-block;
  width: 23.75%;
  padding-bottom: 10.99537%;
  background: transparent no-repeat center url("../img/logo/iconic_logo_long_reworked.svg");
  background-size: 100%;
  margin-left: 38.125%; }

/* --- Sidebar menu elements --- */
/* --- Menu button styles --- */
.menuButton {
  position: absolute;
  display: inline-block;
  float: right;
  width: 4.6875%;
  padding-bottom: 4.6875%;
  background: #070707 url("../img/main_icons/hamburger.svg") no-repeat center;
  cursor: pointer;
  z-index: 2; }

.dockLeft {
  background: #070707 url("../img/main_icons/cross.svg") no-repeat center;
  right: 17.5%;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out; }

.dockRight {
  right: 0;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out; }

/* --- Sidebar menu styles --- */
.sidebarMenuContainer {
  position: relative;
  display: inline-block;
  width: 17.39583%;
  float: right;
  background: #070707;
  color: white;
  z-index: 2; }

.sidebarExpanded {
  max-width: 999px;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out; }

.sidebarInitial {
  max-width: 0;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out; }

/* ---  Menu tab styles --- */
.menuTabContainer {
  display: block;
  width: 100%;
  margin-bottom: 0.5rem;
  overflow: hidden; }
  .menuTabContainer a {
    color: white; }

.iconContainer {
  display: inline-block;
  width: 57.08583%;
  padding-top: 1.5rem;
  padding-left: 33.33333%;
  padding-bottom: 7.78443%;
  margin-left: 4.79042%; }

.activeTab {
  padding-bottom: 8.19685%;
  color: #6d6d6d;
  border-bottom: 0.25rem solid #6d6d6d; }

#menuTabHome {
  background: transparent url("../img/main_icons/home.svg") no-repeat left; }
  #menuTabHome:after {
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    font-weight: 700;
    font-size: 1rem;
    content: "Home"; }
  #menuTabHome.activeTab {
    background: transparent url("../img/main_icons/home_active.svg") no-repeat left; }

#menuTabAbout {
  background: transparent url("../img/main_icons/question_mark.svg") no-repeat left; }
  #menuTabAbout:after {
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    font-weight: 700;
    font-size: 1rem;
    content: "About"; }
  #menuTabAbout.activeTab {
    background: transparent url("../img/main_icons/question_mark_active.svg") no-repeat left; }

#menuTabContact {
  background: transparent url("../img/main_icons/mail.svg") no-repeat left; }
  #menuTabContact:after {
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    font-weight: 700;
    font-size: 1rem;
    content: "Contact"; }
  #menuTabContact.activeTab {
    background: transparent url("../img/main_icons/mail_active.svg") no-repeat left; }

#menuTabStyleGuide {
  background: transparent url("../img/main_icons/book.svg") no-repeat left; }
  #menuTabStyleGuide:after {
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    font-weight: 700;
    font-size: 1rem;
    content: "Style Guide"; }
  #menuTabStyleGuide.activeTab {
    background: transparent url("../img/main_icons/book_active.svg") no-repeat left; }

#menuTabPortfolio {
  background: transparent url("../img/main_icons/folder.svg") no-repeat left; }
  #menuTabPortfolio:after {
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    font-weight: 700;
    font-size: 1rem;
    content: "Portfolio"; }
  #menuTabPortfolio.activeTab {
    background: transparent url("../img/main_icons/folder_active.svg") no-repeat left; }

#menuTabPhotography {
  background: transparent url("../img/main_icons/photo.svg") no-repeat left; }
  #menuTabPhotography:after {
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    font-weight: 700;
    font-size: 1rem;
    content: "Photography"; }
  #menuTabPhotography.activeTab {
    background: transparent url("../img/main_icons/photo_active.svg") no-repeat left; }

.menuTabHeader {
  display: inline-block;
  padding-left: 100%; }

/* --- Content elements -- */
.contentContainer {
  width: 62.08333%;
  border: 1px #d2d2d2 solid;
  margin-left: 12.60417%;
  padding: 1.66667% 6.25% 1.66667% 6.25%;
  background: white; }

.contentCopywriting {
  margin-bottom: 2rem; }

.narrowImage {
  text-align: center; }

.contentImage {
  max-width: 97.3064%;
  margin-bottom: 1rem;
  padding: 2.6936%;
  border: 1px #d2d2d2 dotted; }

.contentWrapper {
  overflow: hidden; }

.horizontalList li, .horizontalList ol {
  display: inline-block; }

/* --- Footer content --- */
.footerSiteMap {
  margin-bottom: 1rem; }
  .footerSiteMap li {
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    font-size: 0.83rem;
    font-weight: 700;
    margin-right: 1rem; }
    .footerSiteMap li a {
      color: #6d6d6d; }

.copyright {
  color: white;
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  font-size: 0.75rem;
  font-style: italic; }

/* --- Work grid styles --- */
.workGridRow {
  margin-bottom: 2rem; }

.workContainer {
  display: inline-block;
  width: 28.11448%;
  margin-right: 7.07071%; }
  .workContainer a:hover {
    opacity: 1; }

.workSpriteContainer {
  width: -1.1976%;
  background-size: 100%;
  padding-bottom: 100%;
  border: 1px solid #d2d2d2;
  margin-bottom: 0.5rem;
  opacity: 1;
  -webkit-transition: opacity 0.3s ease-out;
  -moz-transition: opacity 0.3s ease-out;
  -o-transition: opacity 0.3s ease-out;
  transition: opacity 0.3s ease-out; }
  .workSpriteContainer:hover {
    opacity: 0.4;
    -webkit-transition: opacity 0.5s ease-out;
    -moz-transition: opacity 0.5s ease-out;
    -o-transition: opacity 0.5s ease-out;
    transition: opacity 0.5s ease-out; }

#sprite8packsIconColoured {
  background: transparent url("../img/work_sprites/sprite_8packs_coloured.svg") no-repeat center center; }

#sprite8packsIconMono {
  background: transparent url("../img/work_sprites/sprite_8packs_mono.svg") no-repeat center center; }

#spriteTechNews {
  background: transparent url("../img/work_sprites/sprite_tech_news.svg") no-repeat center center; }

#spriteIconic {
  background: transparent url("../img/work_sprites/sprite_iconic.svg") no-repeat center center; }

#spriteCalorieCalc {
  background: transparent url("../img/work_sprites/sprite_pixel_man.svg") no-repeat center center; }

#sprite8packs {
  background: transparent url("../img/work_sprites/sprite_8packs_logo.svg") no-repeat center center; }

.workTitle {
  opacity: 1;
  -webkit-transition: opacity 0.3s ease-out;
  -moz-transition: opacity 0.3s ease-out;
  -o-transition: opacity 0.3s ease-out;
  transition: opacity 0.3s ease-out; }
  .workTitle:hover {
    opacity: 0.4;
    -webkit-transition: opacity 0.5s ease-out;
    -moz-transition: opacity 0.5s ease-out;
    -o-transition: opacity 0.5s ease-out;
    transition: opacity 0.5s ease-out; }

/* --- Colour swatch style */
#colourSwatchContainer {
  margin-bottom: 1rem;
  overflow: hidden; }

.colourSwatch {
  display: inline-block;
  width: 5%;
  padding-bottom: 5%; }

.skillList {
  margin-bottom: 1rem; }
  .skillList li, .skillList ol {
    color: #535353;
    font-size: 0.83rem;
    border: 1px #535353 solid;
    padding: 0.83rem; }

.pageNavigationLink {
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  font-size: 0.83rem;
  font-weight: 700; }
  .pageNavigationLink.prev {
    float: right; }

.pageNext, .pagePrev {
  display: inline-block;
  background-size: 100%;
  width: 0.83rem;
  height: 0.83rem; }

.pageNext {
  background: transparent url("../img/main_icons/arrow_left.svg") no-repeat center center; }

.pagePrev {
  background: transparent url("../img/main_icons/arrow_right.svg") no-repeat center center; }
